<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
		</Property>
	</Properties>
	<Appenders>
		<RollingFile name="FileAppender"
					fileName="logs/springbootlog4j2.log"
					filePattern="logs/springbootlog4j2-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
        <AsyncLogger name="id.web.ard.springbootlog4j2" level="warn" additivity="false">
            <AppenderRef ref="FileAppender" />
        </AsyncLogger>
        <Root level="info">
            <AppenderRef ref="FileAppender" />
        </Root>
	</Loggers>
</Configuration>
